<h1 style="color:blue;">Ingresar al sistema</h1>
<br>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<form action="/ingresar" method="post" >
    <input type="text" class="my-2" id="mail" placeholder="text" name="username" required> <br>
    <input type="password" class="my-2" id="password" placeholder="text" name="password" required> <br>
    <button>Ingresar</button>
  </form>