<h2 style="color:crimson;">Historial</h2>
<h1>Hola! <%=usuario%></h1>
<div> <img src="/avatares/<%-fotonormal%>" alt=""></div>

<form action="/salirse" method="get">
<button class="btn btn-primary">Desloguarme</button>
</form>


<a href="/hacerpedido" class="btn btn-primary">Hacer pedido</a>


<p id="messages"></p>