<h1 style="color:blue;">Ingrese productos</h1>
<br>


<form onsubmit="return addMsj()"  >
    <input type="email" class="my-2" id="email" placeholder="Tu email"  required> <br>
    <input type="text" class="my-2" id="textoo" placeholder="Cuéntanos algo..." required  > <br>
    <button>Enviar Mensaje</button>
  </form>

  <h1>Chat WebSocket</h1>

    <div id="messages"></div>
    <br>
    <div id="messagesDeUsers"></div>