<h1 style="color:blue;">Ingrese productos</h1>
<br>

<!-- <form action="/productos" method="post"> -->
    <form onsubmit="return  addProductos()">

    <div class="form-group">
        <label for="username"><b>Nombre</b></label>
        <input id="username" class="form-control" type="text" name="username" required>
    </div>

    <div class="form-group">
        <label for="text"><b>Categoria</b></label>
        <input id="text" class="form-control" type="text" name="text" required>
    </div>

    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio" required>
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>

<form onsubmit="return addMsj()" >
    <input type="email" class="my-2" id="email" placeholder="Tu email"  required> <br>
    <input type="text" class="my-2" id="texto" placeholder="Cuéntanos algo..." required  > <br>
    <button>Enviar Mensaje</button>
  </form>

  <h1>Chat WebSocket</h1>

    <div id="messages"></div>
    <br>
    <div id="messagesDeUsers"></div>